# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment
.env
.env.*

# ESLint
.eslintcache

# OS - Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

# OS - macOS (boa prática)
.DS_Store

# IDE
.vscode/
.idea/